current-zsh.sh

# allow for users to add their own scripts
scripts/*

# allow for users to add their own shell configuration
extensions/*
!extensions/index.sh
!extensions/backup-manifest.sh.example
!extensions/version-managers.sh.example

# ignore backup files
*.zip
*.enc